# Target compilation mode: 'web' for Vercel/Web, 'mobile' for Capacitor/Android/iOS
VITE_APP_TARGET=
CJ_ACCESS_TOKEN=

# MongoDB URI Connection String
MONGODB_URI=

# Google Cloud Storage Bucket Name
BUCKET_NAME=elegan-bucket

# Cloud Run Backend URL
VITE_BACKEND_URL=https://carlos02200375720mall-113642516090.europe-west1.run.app
BACKEND_URL=https://carlos02200375720mall-113642516090.europe-west1.run.app

# Superadministrator email
VITE_SUPERADMIN_EMAIL=cg0220037@gmail.com
